/* ---------------------Start Grundgerüst ---------------------*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  color: white;
  box-sizing: border-box;
  font-size: 17px;
}
html {
  background-color: black;
}
body {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 95% 5%;
  grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
}
/* ---------------------Ende Grundgerüst ---------------------*/

/* ---------------------Start Zuweisungen ---------------------*/
header {
  grid-area: header;
}
main {
  grid-area: main;
  padding-top: 100px;
}
footer {
  grid-area: footer;
}
aside {
  grid-area: sidebar;
  text-align: end;
  padding-top: 100px;
}
/* ---------------------Ende Zuweisungen ---------------------*/

/* ---------------------Start Bilder ---------------------*/
#fw {
  width: 45%;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#logobig {
  float: left;
  width: 25%;
  margin-right: 50px;
}
#logosmall {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#me {
  width: 100%;
}
#promo,
#promogif {
  height: 400px;
}
#apps {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 30px;
}
#get {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  width: 70%;
}
#toleon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 0.5em;
  margin: 0;
  padding: 0;
}

/* ---------------------Ende Bilder ---------------------*/

/* ---------------------Start Symbole ---------------------*/
aside .fa:first-child {
  margin-top: 100px;
}
aside .fa {
  padding: 30px;
  text-decoration: none;
  border-radius: 100%;
  border: 1px solid white;
  margin-top: 20px;
  font-size: 1.5em;
}
aside .fa:hover {
  background-color: rgb(100, 100, 100);
}
/* ---------------------Ende Symbole ---------------------*/

/* ---------------------Start Texte ---------------------*/
main h1 {
  text-align: center;
  font-size: 2em;
  padding-top: 50px;
}
main h3 {
  text-align: center;
  padding-top: 10px;
  font-size: 1.2em;
}
main h4 {
  text-align: center;
  padding-top: 10px;
  font-size: 1em;
  font-weight: 100;
  margin-right: 70px;
  margin-left: 70px;
}
footer {
  position: relative;
  height: 200px;
  width: 100%;
  text-align: center;
}
p.copyright {
  position: absolute;
  width: 100%;
  color: white;
  font-size: 0.8em;
  text-align: center;
  bottom: 0;
}
p.copyright a {
  font-size: 0.9em;
}
hr {
  width: 50%;
}
.findme {
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
#trademark {
  margin: 0;
  padding: 0;
}
table {
  margin: 0 auto;
  width: 100%;
}
td h4 {
  margin: 10px 80px 100px 80px;
}
main a {
  text-decoration: none;
  color: #00b4d8;
}

/* ---------------------Ende Texte ---------------------*/

/* ---------------------Start Kontaktmenü ---------------------*/
.kontakt-box h2 {
  font-size: 2em;
}
.kontakt-box {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 100px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
.kontakt-box .user-box {
  position: relative;
}
.kontakt-box .user-box input {
  width: 100%;
  padding: 15px 0;
  color: white;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid white;
  background-color: black;
}
#text {
  padding-bottom: 100px;
}
.kontakt-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: white;
  pointer-events: none;
  transition: 0.8s;
}
.kontakt-box .user-box input:focus ~ label,
.kontakt-box .user-box input:valid ~ label {
  top: -10px;
  left: 0;
  color: #00b4d8;
  font-size: 15px;
}
.kontakt-box input[type="submit"] {
  font-size: 1.5em;
  border: white solid 1px;
  transition: 0.4s;
}
.kontakt-box input[type="submit"]:hover {
  font-size: 1.6em;
  border: solid 3px;
  background-color: #272727;
  transition: 0.4s;
}
/* ---------------------Ende Kontaktmenü ---------------------*/

/* ---------------------Start Navigationsbar DESKTOP ---------------------*/
#desk {
  visibility: visible;
}
#desk ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 0px;
  margin: 0px;
}
#desk li {
  font-weight: 500;
  width: 175px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  margin-right: 10px;
  margin-top: 10px;
}
#desk li ul {
  position: absolute;
  display: none;
  width: inherit;
  padding-top: 5px;
}
#desk li:hover ul {
  display: block;
}
#desk li ul li {
  display: block;
}
/* ---------------------Ende Navigationsbar DESKTOP ---------------------*/

/* ---------------------Start Navigationsbar MOBILE/DESKTOP ---------------------*/
#desk,
#mob {
  grid-area: nav;
  padding-top: 40px;
}
#desk a,
#mob a {
  text-decoration: none;
}

#desk li:hover,
#mob li:hover {
  background-color: rgb(100, 100, 100);
}
.active {
  background-color: rgb(77, 77, 77);
}
/* ---------------------Ende Navigationsbar MOBILE/DESKTOP ---------------------*/

/* ---------------------Start Navigationsbar MOBILE ---------------------*/
#mob {
  visibility: collapse;
}
label .menu {
  position: absolute;
  right: 0px;
  top: -100px;
  z-index: 100;
  width: 100px;
  height: 200px;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 black, 0 0 0 0 black;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 155px;
  width: 40px;
  height: 3px;
  background: white;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: white;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  box-shadow: 0 0 0 100vw black, 0 0 0 100vh black;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul #mob-menu {
  opacity: 1;
  visibility: visible;
}

#mob ul {
  visibility: collapse;
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s 0s ease-in-out;
  width: 100%;
}

#mob a {
  margin-bottom: 1em;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
#mob li {
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  padding-top: 40px;
  margin-top: 20px;
  font-size: 1.6em;
}
/* ---------------------Ende Navigationsbar MOBILE ---------------------*/

/* ---------------------Start Zeitlinie ---------------------*/
.timeline {
  position: relative;
  margin: 0 auto;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #0077b6;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.left {
  left: 0;
}
.right {
  left: 50%;
}
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
.right::after {
  left: -16px;
}
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 10px;
  color: black;
}
.content h2,
.content p {
  color: black;
  font-size: 0.8em;
}
.content h2,
.content p {
  color: black;
  font-size: 0.8em;
}
.content h3 {
  color: black;
  font-size: 1em;
  text-align: left;
  padding: 0;
  margin: 0;
}

/* ---------------------Ende Zeitlinie ---------------------*/

/* ---------------------Start MOBILE ---------------------*/
@media screen and (max-width: 1200px) {
  /* ---------------------Start Grundgerüst ---------------------*/
  body {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 270px 1fr 100px 100px;
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "main"
      "sidebar"
      "footer";
  }
  #desk {
    visibility: collapse;
  }
  #mob {
    visibility: visible;
  }
  /* ---------------------Ende Grundgerüst ---------------------*/

  /* ---------------------Start Bilder ---------------------*/
  #promo,
  #promogif,
  #get {
    width: 60%;
  }
  video {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
  }
  #fw {
    width: 100%;
  }
  /* ---------------------Ende Bilder ---------------------*/

  /* ---------------------Start Symbole ---------------------*/
  aside {
    text-align: center;
    padding-top: 50px;
  }
  aside .fa {
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid white;
    font-size: 50px;
  }
  aside .fa:first-child {
    margin-top: 0;
  }
  /* ---------------------Ende Symbole ---------------------*/

  /* ---------------------Start Texte ---------------------*/
  main {
    padding-left: 50px;
    padding-right: 50px;
  }
  main h1 {
    font-size: 4em;
  }
  main h2 {
    font-size: 2em;
  }
  main h3 {
    font-size: 1.5em;
  }

  /* ---------------------Ende Texte ---------------------*/

  /* ---------------------Start Kontaktmenü ---------------------*/
  .kontakt-box .user-box input {
    padding: 50px 0;
    font-size: 40px;
  }
  #text {
    padding-bottom: 100px;
  }
  .kontakt-box .user-box label {
    top: 40px;
    font-size: 40px;
  }

  .kontakt-box .user-box input:focus ~ label,
  .kontakt-box .user-box input:valid ~ label {
    top: -10px;
    font-size: 30px;
  }
  .kontakt-box input[type="submit"] {
    font-size: 2em;
  }
  .kontakt-box input[type="submit"]:hover {
    font-size: 2.2em;
  }
  /* ---------------------Ende Kontaktmenü ---------------------*/

  /* ---------------------End MOBILE ---------------------*/
}
