* {
  color: white;
  box-sizing: border-box;
}
html {
  background-color: black;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 80% 20%;
  grid-template-areas:
    none
    "header header"
    "main sidebar"
    "footer footer";
}
header {
}
nav {
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 0px;
  margin: 0px;
}
nav li {
  width: 130px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
}

nav a {
  text-decoration: none;
}

nav li:hover {
  background-color: rgb(100, 100, 100);
}

nav li ul {
  position: absolute;
  display: none;
  width: inherit;
}

nav li:hover ul {
  display: block;
}

nav li ul li {
  display: block;
}
